#pr_report_button {
    display:block;
    padding:10px;
    position:absolute;
    top:0;
    right:0;
    background:#c9f1ff;
    z-index:2000;
}

#pivotal_reporter {
    width:380px;
    height:450px;
    position:absolute;
    top:25px;
    right:0;
    background: #c9f1ff;
    border-radius: 5px;
    z-index:2000;
}

#pivotal_reporter_window {
    width:360px;
    height:430px;
    margin:10px;
    border:0;
    overflow:hidden;
}